.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff; 
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 96px;
}

.brand-logo {
  padding: 0 88px 0 96px; 
  font-size: 24px;
}

.hamburger {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  margin-left: 20px; 
  padding: 0 88px 0 96px; 
}

.menu-container {
  display: flex;
  flex-direction: column; /* Make menu items stack vertically */
  align-items: center; /* Center horizontally within the menu container */
}
  
.navigation-menu {
  display: none;
}
  
.navigation-menu.expanded {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 300%;
} 
  
.navigation-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
.navigation-menu li {
  padding: 10px 0;
}
  
.navigation-menu a {
  text-decoration: none;
  color: #fff; /* Set your desired text color for menu items */
}

.hidden {
  display: none;
}


.logo-image {
  position: absolute;
  top: 96px;
  left: 10px;
  padding: 0 88px 0 96px; 
}

.navigation-menu.expanded .name {
  display: block;
  margin-left: 10px; /* Add margin to create space between logo and name */
  position: absolute;
  top: 60px;
  left: 100px;
  padding: 0 88px 0 90px; 
  font-size: 36px;
}


.navigation-menu.expanded ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  margin-left: 10px; /* Add margin to create space between logo and name */
  position: absolute;
  top: 200px;
  left: 200px;
  padding: 0 88px 0 200px; 
  font-size: 36px;
}

.navigation-menu.expanded li {
  padding: 10px 0;
  font-family: "Arial", sans-serif; /* Set your desired font family */
  font-size: 50px; /* Set your desired font size */
  letter-spacing: 2px; /* Adjust the letter spacing as needed */
}

.navigation-menu.expanded a {
  text-decoration: none;
  color: #fff; /* Set your desired text color for menu items */
  transition: color 0.3s; /* Add a smooth color transition effect */
}

.navigation-menu.expanded a:hover {
  color: #FFD700; /* Change the color on hover to your desired color */
}



/* Define styles for social links */
.social-links {
  display: block;
  margin-left: 10px; 
  position: absolute;
  left: 100px;
  margin-bottom: 20%;
  padding: 0 88px 0 500px; 
  font-size: 36px;
}

