.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 96px;
  transition: top 0.3s;
}

.brand-logo {
  padding: 0 88px 0 96px;
  font-size: 24px;
  position: absolute;
  top: 96px;
  left: 10px;
}

.hamburger.right {
  position: absolute;
  right: 20px; /* Adjust the right distance as needed */
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  padding: 0 88px 0 96px;
  top: 96px;
}

.close-button {
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  padding: 0;
  /* position: absolute; */
  top: 96px;
  right: 20px; /* Adjust the right distance as needed */
}

.close-button.right {
  display: none;
  right: 20px; 
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  padding: 0 88px 0 96px;
  top: 96px;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.nav-buttons {
  display: flex;
  align-items: center;
}


.hamburger.hidden,
.close-button.hidden {
  display: none;
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
}

.navigation-menu {
  display: none;
}

.navigation-menu.expanded {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 300%;
  font-family: 'studiofeixen-variable','studiofeixen',Helvetica,'Arial', sans-serif;
}

.navigation-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-menu li {
  padding: 10px 0;
  font-family: 'Arial', sans-serif;
}

.navigation-menu li:hover {
  transform: translateY(-5px);
}

.navigation-menu a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
  font-family: 'Arial', sans-serif;
}

.navigation-menu a:hover {
  color: #FFD700;
}

.hidden {
  display: none;
}

.logo-image {
  position: absolute;
  top: 96px;
  left: 10px;
  padding: 0 88px 0 96px;
}

.navigation-menu.expanded .name {
  display: block;
  margin-left: 10px;
  position: absolute;
  top: 60px;
  left: 100px;
  padding: 0 88px 0 90px;
  font-size: 36px;
  transition: transform 0.3s;
  font-family: 'Arial', sans-serif;
}

.navigation-menu.expanded .name:hover {
  transform: translateY(-5px);
}

.navigation-menu.expanded ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  margin-left: 10px;
  position: absolute;
  top: 200px;
  left: 200px;
  padding: 0 88px 0 200px;
  font-size: 36px;
}

.navigation-menu.expanded li {
  padding: 10px 0;
  font-family: "Arial", sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
}

.navigation-menu.expanded a {
  text-decoration: none;
  color: #fff;
  font-family: 'Arial', sans-serif;
  transition: color 0.3s;
}

.navigation-menu.expanded a:hover {
  color: #FFD700;
}

.social-logo {
  width: 32px;
  height: 32px;
  margin: 0 10px;
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
}

.social-logo:hover {
  transform: scale(1.2);
}